/* GLOBALS*/
*{
    font-family: 'Caprasimo', cursive;
}

/* END GLOBALS */ 

/* NAVIGATION */
header{
    background-color: #F86F03;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

header img {
    width:10%;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* END NAVIGATION */

/* FOOTER CASE */
footer{
    background-color: #F86F03;
    padding: 10px;
}

/* END FOOTER */
/* INDEX */
.main{
    background: linear-gradient(rgb(140,212,228), rgb(57,183,210));
}


.home {
    background-image: url(../img/index.jpg);
    width: 100%; 
    height: 880px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    justify-content: center;
    align-items:center;
}

.home span{
    font-size: 100px;
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px blue;

}

/* END INDEX */

/* REGISTER PETS */

#petsinfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.pet-element{
    align-items: center;
    border-radius: 10px;
    border: solid 2px;
    background-color: bisque;
    width: auto;
    text-align: center;
}

.number-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.error{
    background-color: rgb(241, 116, 116);
}

#notifications{
    background-color:  rgb(241, 116, 116);
    border-radius: 10px;
    padding-left: 10px;
}
/* END REGISTER PETS*/


/* SERVICES  */
#services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 500px;
    border-radius: 10px;
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 20.3),
    -2px -2px 4px rgba(255, 255, 255, 0.3);

    background-color: #FFF6F4;
}

.service p{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.service img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
        
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 20);

}

.text-container {
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: #FFA41B;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 20);
}

.text-container p {
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .service { 
        margin-top: 20px;
        margin-left: 0px;
        width: auto;
    }

    #services{
        flex-direction: column;
    }
}



/* END SERVICES */

