*{
    font-family: 'Caprasimo', cursive;
}

.salud-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 2px;
    background-color: burlywood ;
}

.pets-info{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pet-element{
    padding: 10px;
    border-radius: 10px;
    border: solid 2px;
    background-color: bisque;
    width: 200px;
}

.number-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 2px;
    padding: 10px;
    background-color: chocolate;
}